.header {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
    background-color: #0282fd;
    color: #fff;
    padding-bottom: 6rem;
    padding-top: 0.3rem;
    position: relative;
}

.icons{
    cursor: pointer;
    padding: 0 0.2rem 0 0.2rem;
}

.bar-icon {
    font-size: 1.4rem;
}

.signinbtn {
    background-color: #fff;
    color: #0282fd;
    border: none;
    padding: 2.5px 12px;
    border-radius: 6px;
}

.headerIconConatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1050px; */
    /* margin-left: 300px; */
    max-width: 70%;
    margin: 0px 12rem 0 18rem;
    padding-top: 8px;
}

@media(max-width: 1065px) {
    .headerIconConatiner {
        margin-left: 2.5rem;
        max-width: 75%;
    }
};



.headerRightIcons{
    display: flex;
    gap: 12px;
}

@media (max-width: 717px) {
    .headerIconConatiner{
        width: 85vw;
        max-width: 85vw;
    }
    .headerRightIcons{
        margin-left: 0.5rem;
    }
}

.headerBoxes{
    display: flex;
    /* max-width: 1080px; */
    max-width: 71%;
    /* margin-left: 280px; */
    margin: 15px 10.5rem 0 17rem;
    justify-content: space-between;
    /* margin-top: 15px; */
    gap: 1rem;
}

@media(max-width: 1094px) {
    .headerBoxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.headerBox{
    /* border: 1px solid red; */
    background-color: #fff;
    color: #000;
    display: flex;
    gap: 40px;
    padding: 18px 24px 20px 30px;
    align-items: center;
    border-radius: 17px;
    cursor: pointer;
}

.headerBoxLeft{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(max-width: 1065px) {
    .headerBox {
        margin-left: -13rem;
        max-width: 75%;
    }
}

@media(max-width: 908px) {
        .headerBoxes{
            width: 70%;
            max-width: 80%;
        }
}

@media(max-width: 536px) {
    .headerBoxes {
        width: 70vw;
        max-width: 70vw;
    }
    .headerBox {
        gap: 0rem;
    }
    .headerBox{
        font-size: 0.3rem;
    }
}

@media(max-width: 458px) {
    .headerBoxes {
        display: grid;
        grid-template-columns: 1fr;
    }
    .headerBox {
        justify-content: space-between;
    }
}

.headerBox:hover {
    scale: 1.05;
}


.pending-orders{
    color: rgb(130,146,170);
}

.processing-orders {
    color: rgb(250,173,65);
}

.ready-to-deliver-orders {
    color: rgb(45,206,138);
}

.delivered-orders {
    color: rgb(0,131,255);
}

.headerBoxFigures {
    font-weight: 600;
    font-size: 18px;
}

.headerBoxHeading {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 14px;
    font-weight: 700;
}

.box-icons {
    font-size: 24.5px;
}